<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
</head>

<body>

    <h1>welcome to the chat app</h1>
    <h3 id="socketinfo"></h3>
    <div id="box">
        <h1>
            <%= user.name %>
        </h1> and <h3>token:<%=token%>
        </h3>
        <form method="post" id="form">
            <div class="input-group mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">users</label>
                    <select class="form-control" id="receiver" name="receiver">

                    </select>
                </div><br>
                <hr>
            </div>
            <input type="text" id="message" placeholder="Enter message" "
                     aria-describedby=" basic-addon2">
            <input type="text" id="roomid" placeholder="Enter room ids" "
                     aria-describedby=" basic-addon2">

            <button class="btn btn-outline-secondary" type="submit">send</button>

            <br>
            <select class="form-control" id="room" name="room">

            </select>
            
            <button class="btn btn-outline-secondary" type="submit" id="roombutton">join</button>
            <a href="http://localhost:3000/chats">click here</a>
        </form>
        
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        let form = document.getElementById('form')
        let roombutton = document.getElementById('roombutton')
        let specificroom = document.getElementById('roomid')
        let messageinput = document.getElementById('message')
        let roominput = document.getElementById('room')
        let userselect = document.getElementById('receiver')
        let socketinfo = document.getElementById('socketinfo')
        let selecttag = document.getElementById('receiver')
        let token = `<%=token%>`
        const socket = io({
            auth: (cb) => {
                cb({
                    token: token
                });
            }
        }
        )
        let user = `<%=user.name%>`
        

    socket.on('allSocketIds', (socketIds) => {

  console.log('All connected socket IDs:', socketIds);
  for (let index = 0; index < socketIds.length; index++) {
      displayMessage(`${socketIds[index].token.user.name}-${socketIds[index].socketid}`,"h6")
  }
});
        socket.on('connect', (msg) => {
            console.log(`server is connected successfully`);
            displayMessage(`socket id is ${socket.id}`)    
        })  
        
        socket.on('receive-message', (msg) => {
            console.log("hdbsg");
            displayMessage(`received: ${msg.msg}`,"div")
        })
        form.addEventListener("submit", e => {
            e.preventDefault();
            const message = messageinput.value
            const room = specificroom.value

            socket.emit('custom-message', { message: message, room: room })
            displayMessage(`sent:${message}`,"div")
            messageinput.value = ""
        })

        roombutton.addEventListener("click", e => {
            e.preventDefault()
            let room = roominput.value
            socket.emit("joinroom", room,token)
            roominput.value = ""
        })
        function displayMessage(msg,ele) {
            const div = document.createElement(ele)
            div.textContent = msg
            console.log(msg);
            document.getElementById('box').append(div)
        }
    </script>
</body>

</html>