<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>welcome to the login page</h1>
    <form action="/auth" method="post">
        
          <label for="fname">First name:</label>
          <input type="text" name="fname" />
          <label for="lname">Last name:</label>
          <input type="text" name="lname" />  
<button type="submit">send</button>
      </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

<script>
  let socket = io();
  </script>
</body>
</html>